---
{% set namespace = amq_ic_instance | app_namespace(deployment_phase) %}
{% set app_common_name = deployment_phase + '-' + amq_ic_instance.name %}

openshift_cluster_content:
{% if 'parent' not in amq_ic_instance %}
- object: Projects
  content:
  - name: {{ app_common_name }} Project
    template: "{{ playbook_dir }}/../templates/project-template.yml"
    action: create
    params_from_vars:
      NAMESPACE: "{{ namespace }}"
      NAMESPACE_DISPLAY_NAME: "{{ namespace | upper }}"
    tags:
    - projects
    - aspera

{% endif %}

- object: Deployments {{ deployment_phase | upper }}
  content:
# Aspera Config Map for {{ app_common_name }}
  - name: {{ app_short_name }}-aspera-config-map
    namespace: "{{ namespace }}"
    template: "{{ generated_config_dir }}/templates/{{ amq_ic_instance.name }}/aspera-seed-files-cm.yml"
    action: apply
    tags:
    - config
    - aspera

{% endif %}

# Application instances
{% set app_short_name = amq_ic_instance | group_label %}

{% if amq_ic_instance.incomingAddressList | length > 0 %}
{% if deploy_aspera is defined and deploy_aspera %}
# Aspera instance for {{ app_common_name }}
  - name: "{{ amq_ic_instance | aspera_application_name }}"
    namespace: "{{ namespace }}"
    template: "{{ generated_config_dir }}/templates/{{ amq_ic_instance.name }}/aspera-k8s-template.yml"
    action: apply
    params_from_vars:
      APPLICATION_NAME: "{{ amq_ic_instance | aspera_application_name }}"
      SEED_FILES_CM: "{{ app_short_name }}-aspera-config-map"
      SEED_FILES_CONF_HASH: "{{ lookup('file', generated_config_dir + '/templates/' + amq_ic_instance.name + '/aspera-seed-files-cm.yml') | hash('md5') }}"
{% if aspera_image is defined or 'aspera_image' in amq_ic_instance %}
      IMAGE_NAME: {{ amq_ic_instance.aspera_image | default(aspera_image) }}
{% endif %}
{% if aspera_image_ns is defined or 'aspera_image_ns' in amq_ic_instance %}
      IMAGE_STREAM_NAMESPACE: {{ amq_ic_instance.aspera_image_ns | default(aspera_image_ns) }}
{% endif %}
      APP_GROUP: "{{ amq_ic_instance | group_label }}"
    tags:
    - application
    - aspera

{% endif %}
{% endif %}

{% if 'aspera_node_port' in amq_ic_instance %}
{% set app_short_name = amq_ic_instance | group_label %}
# Nodeport Service for {{ app_short_name }}-aspera
  - name: "{{ amq_ic_instance | aspera_application_name }}-np-svc"
    namespace: "{{ namespace }}"
    template: "{{ generated_config_dir }}/templates/{{ amq_ic_instance.name }}/aspera-nodeport-service.yml"
    action: apply
    tags:
    - application
    - aspera

{% endif %}
