apiVersion: template.openshift.io/v1
kind: Template
labels:
  template: aspera-seed-files-cm
metadata:
  annotations:
    description: Config Map containing Aspera seed files
    iconClass: icon-amq
    openshift.io/display-name: Aspera Config Map
  labels:
    app: {{ ar_osc_aspera_name }}
  name: {{ ar_osc_aspera_name }}-aspera-config-map
objects:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: {{ ar_osc_aspera_name }}-aspera-config-map
    namespace: {{ ar_osc_aspera_ns }}
    labels:
      app: {{ ar_osc_aspera_name }}
  data:
    aspera_id_rsa.pub: {{ aspera_secrets.aspera_pub }}
    aspera_id_rsa: {{ aspera_secrets.aspera_key }}
    sshd_config: |-
{% for line in lookup('file', _ar_osc_aspera_sshd_config_file).split('\n') %}
      {{ line }}
{% endfor %}
    launch.sh: |-
{% for line in lookup('file', ar_osc_aspera_launch_script).split('\n') %}
      {{ line }}
{% endfor %}
    aspera.conf: |-
{% for line in lookup('file', _ar_osc_aspera_config_file).split('\n') %}
      {{ line }}
{% endfor %}
    aspera-license: |-
{% for line in lookup('file', ar_osc_aspera_license_file).split('\n') %}
      {{ line }}
{% endfor %}
