apiVersion: template.openshift.io/v1
kind: Template
labels:
  template: aspera-secrets
  app: {{ ar_osc_aspera_name }}
metadata:
  annotations:
    description: Aspera application secret files
    iconClass: icon-amq
    openshift.io/display-name: Aspera application secrets
  labels:
    app: {{ ar_osc_aspera_name }}
  name: {{ ar_osc_aspera_instance | secrets_name }}-template
objects:
- apiVersion: v1
  kind: Secret
  metadata:
    name: {{ ar_osc_aspera_instance | secrets_name }}
    namespace: {{ ar_osc_aspera_ns }}
    labels:
      app: {{ ar_osc_aspera_name }}
  type: Opaque
  data:
    aspera_id_rsa: {{ aspera_secrets.aspera_key }}
    aspera_id_rsa.pub: {{ aspera_secrets.aspera_pub }}
    aspera-license: |-
{% for line in lookup('file', ar_osc_aspera_license_file).split('\n') %}
      {{ line }}
{% endfor %}
