apiVersion: template.openshift.io/v1
kind: Template
labels:
  template: aspera-seed-files-cm
metadata:
  annotations:
    description: Config Map containing Aspera seed files
    iconClass: icon-amq
    openshift.io/display-name: Aspera Config Map
  labels:
    app: {{ ar_osc_aspera_name }}
  name: {{ ar_osc_aspera_instance | config_map_name }}
objects:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: {{ ar_osc_aspera_instance | config_map_name }}
    namespace: {{ ar_osc_aspera_ns }}
    labels:
      app: {{ ar_osc_aspera_name }}
  data:
    sshd_config: |-
{% for line in lookup('file', _ar_osc_aspera_sshd_config_file).split('\n') %}
      {{ line }}
{% endfor %}
    launch.sh: |-
{% for line in lookup('file', _ar_osc_aspera_launch_script).split('\n') %}
      {{ line }}
{% endfor %}
    aspera.conf: |-
{% for line in lookup('file', _ar_osc_aspera_config_file).split('\n') %}
      {{ line }}
{% endfor %}
