<?xml version='1.0' encoding='UTF-8'?>
<CONF version="2">
    <server>
        <ssh_port>{{ ar_osc_aspera_sshd_internal_port }}</ssh_port>
        <activity_logging>true</activity_logging>
    </server>
    <central_server>
        <port>40001</port>
        <address>127.0.0.1</address>
    </central_server>
    <default>
        <transfer>
            <protocol_options>
                <bind_udp_port>{{ ar_osc_aspera_fasp_internal_port }}</bind_udp_port>
            </protocol_options>
            <in>
                <bandwidth>
                    <aggregate>
                        <trunk_id>100</trunk_id>
                    </aggregate>
                </bandwidth>
            </in>
            <out>
                <bandwidth>
                    <aggregate>
                        <trunk_id>101</trunk_id>
                    </aggregate>
                </bandwidth>
            </out>
        </transfer>
    </default>
    <trunks>
        <trunk>
            <id>100</id>
            <on>false</on>
            <capacity>
                <schedule format="ranges">45000</schedule>
            </capacity>
        </trunk>
        <trunk>
            <id>101</id>
            <capacity>
                <schedule format="ranges">45000</schedule>
            </capacity>
        </trunk>
    </trunks>
    <aaa>
        <realms>
            <realm>
                <users>
                    <user>
                        <name>{{ ar_osc_aspera_username }}</name>
                        <file_system>
                            <access>
                                <paths>
                                    <path>
                                        <restrictions>
                                            <restriction>file:////mjdi/local/GFT/*</restriction>
                                        </restrictions>
                                    </path>
                                </paths>
                            </access>
                        </file_system>
                        <authorization>
                            <transfer>
                                <out>
                                    <value>allow</value>
                                </out>
                                <in>
                                    <value>allow</value>
                                </in>
                            </transfer>
                        </authorization>
                    </user>
                </users>
            </realm>
        </realms>
    </aaa>
</CONF>
