apiVersion: template.openshift.io/v1
kind: Template
labels:
  template: aspera-secrets
  app: {{ ar_osc_aspera_name }}
metadata:
  annotations:
    description: Aspera application secret files
    iconClass: icon-amq
    openshift.io/display-name: Aspera application secrets
  labels:
    app: {{ ar_osc_aspera_name }}
  name: {{ ar_osc_aspera_name }}-secrets-template
objects:
- apiVersion: v1
  kind: Secret
  metadata:
    name: {{ ar_osc_aspera_name }}-secrets
    namespace: {{ ar_osc_aspera_ns }}
    labels:
      app: {{ ar_osc_aspera_name }}
  type: Opaque
  data:
    aspera: {{ aspera_secrets.aspera_password }}
